html {
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000);
    background: linear-gradient(to bottom, #0f9b0f, #000000);
    background-repeat: repeat-x;
    background-size: cover;
    min-height: 100%;
}

body {
    font-family: Monospace;
}

ul {
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 9999;
    box-sizing: border-box;
    width: 100%;
    background-color: #000000;
}

ul li {
    float: left;
    width: 90px;
    height: 40px;
    background-color: #000000;
    line-height: 40px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    position: relative;
}

ul li a {
    text-decoration: none;
    color: #0f9b0f;
    display: block;
    font-family: monospace;
    font-size: 14px;
    position: relative;
}

ul li a:hover {
    background-color: #1a1a1a;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
    border-bottom: 1px solid #1a1a1a;
}

.dropdown-menu {
    position: relative;
}

.active {
    background-color: #0f9b0f;
    color: #000000;
}

.box {
    width: 99%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    margin: 50px 0px 0px 0px;
    padding: 40px 20px 20px 25px;
    background-color: #000000;
}

.terminal-bar {
    background: #f9f9f3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
}

.text {
    color: #0f9b0f;
    font-family: monospace;
    text-decoration: none;
}

.Wrapper {
    position: relative;
}

.textanimation {
    animation: typing-text 2s steps(33), blink 0.5s infinite alternate;
    ;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #0f9b0f;
}

@keyframes typing-text {
    from {
        width: 0px;
    }
    to {
        width: 950px;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }
    to {
        border-color: #0f9b0f
    }
}