html {
	background: #000000;  
	background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000);  
	background: linear-gradient(to bottom, #0f9b0f, #000000); 
	background-repeat: repeat-x;
	background-size: cover;
	min-height: 100%;
	
	
}

body {
	font-family: Monospace;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	border-style: solid;
	border-color: #000000;
	border-width: 1px; 
}


li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	padding: 14px 16px;
	color: #0f9b0f; 
	text-align: center;
	text-decoration: none;
}

li a:hover:not(.active), .dropdown:hover:not(.active) {
	background-color: #1a1a1a;
}

li.dropdown {
	display:inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #000000;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1; 
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #1a1a1a;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.active {
	background-color: #0f9b0f;
	color: #000000;

}

.box {						 
	width: 99%;
  height: auto;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  margin: 50px 0px 0px 0px;
  padding: 40px 20px 20px 0px;
  background-color: #000000;
}


.terminal-bar {
    background: #f9f9f3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }

.text {
	color: #0f9b0f;
	font-family: monospace;
	text-decoration: none;
}
 


/* Wieso ist neben active links noch platz und das deckt nicht 100% ?
/* Wieso fährt mein Dropdown-Menü nicht aus?
/* terminal-bar geht nicht nahtlos auf box 
/* Box soll oben fixiert sein und sich nach unten nur verlängern
/* Warum sind Hyperlinks unter Team/Design nicht Grün und ohne Unterstrich, so wie bei a oben definiert?